#main-title {
    background-color: #0063B2FF;
}

#navigation-bar {
    background-color: rgb(34, 135, 218);
    padding: 0;
    margin: 0;
}

#title {
    color: white;
    font-size: 40px;
    font-family: "Comic Sans MS";
}

#page-title {
    font-family: Garamond;
}

#lr-btn {
    color: white;
    font-family: Garamond;
    font-size: large;
    font-size: 25px;
}

#main-body {
    padding: 0;
    margin: 0;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0063B2FF;
    color: white;
}

#nav-links {
    color: white;
    font-family: Garamond;
    font-size: 25px;
}